.navbar {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 10px 0;

    > a {
        transition: color 0.2s ease;
        color: var(--md-sys-color-secondary);
        font-weight: 500;
        padding: 5px 5px 0 5px;
    }

    > a:hover {
        color: var(--md-sys-color-primary);

        &::after {
            width: 20px;
        }
    }

    > a::after {
        display: block;
        content: "";
        width: 0;
        transition: width 0.2s ease;
        height: 2px;
        background-color: var(--md-sys-color-primary);
        border-radius: 1px;
        margin: 3px auto 0 auto;
    }
    
}

.titleWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;

    @media (max-width: 950px) {
        & {
            justify-content: center;
            flex-direction: column-reverse;
            margin-bottom: 20px;
        }
    }
}

.title {
    font-size: 45px;
    font-weight: 200;
    strong {
        font-weight: 400;
    }

    @media (max-width: 950px) {
        & {
            font-size: 35px;
            text-align: center;
        }
    }
}

.titleDescription {
    font-size: 15px;
    text-align: justify;
    margin-top: 15px;
    margin-bottom: 30px;
    max-width: 390px;
    color: var(--md-sys-color-on-surface-variant-light);
}

.photoWrapper {
    background-image: url("/images/photo-decoration.svg");
    max-width: 450px;
    background-repeat: round;
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1/1;
}

.photo {
    border-radius: 50%;
    width: 77%;
    height: 77%;
}

.downloadWrapper {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.downloadCV {
    padding: 10px 20px;
    border-radius: 5px;
    background-color: var(--md-sys-color-primary);
    color: white;
    display: inline-block;

    &:hover {
        background-color: var(--md-ref-palette-primary50);
    }
}